pandas                                                                                                                                                           
torch
torchvision
numpy
matplotlib
flask
seaborn
gunicorn
flask-cors
pyfcm
python-decouple
googletrans
